<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheese Market</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/admin.css">
</head>

<body>
    <header class="header">
        <h1 class="header__title">Cheese Market</h1>
        <form action="/logout" method="POST">
            <button class="logOut-button" type="submit">Log Out</button>
        </form>
    </header>

    <main class="main">
        <div class="main__forms-container">
            <form class="main__send" id="emailForm">
                <div class="main__form-wrap">
                    <label for="to">To:</label>
                    <input class="main__send-to" type="email" id="to" name="to" placeholder="email" required>
                </div>
                <div class="main__form-wrap">
                    <label for="subject">Subject:</label>
                    <input class="main__send-to" type="text" id="subject" name="subject" placeholder="email" required>
                </div>
                <div class="main__form-wrap">
                    <label for="message">Message:</label>
                    <textarea class="main__send-body" id="message" name="message" rows="4" cols="50"
                        required></textarea>
                </div>
                <button class="main__form-submit" type="submit">Send Email</button>
            </form>

            <form class="main__form" id="form" onsubmit="addProduct(event)" method="POST">
                <div class="main__form-wrap">
                    <label class="main__form-wrap-label" for="name">Product</label>
                    <input class="main__form-wrap-input" type="text" id="name" placeholder="Product Name" required />
                </div>

                <div class="main__form-wrap">
                    <label class="main__form-wrap-label" for="categoryAdd">Category</label> 
                    <select class="main__form-wrap-input" id="categoryAdd" required>
                        <option value="">Select Category</option>
                        <option value="Hard Cheese">Hard Cheese</option>
                        <option value="Soft Cheese">Soft Cheese</option>
                        <option value="Semi-Hard Cheese">Semi-Hard Cheese</option>
                        <option value="Fresh Cheese">Fresh Cheese</option>
                        <option value="Blue Cheese">Blue Cheese</option>
                        <option value="Semi-Soft Cheese">Semi-Soft Cheese</option>
                    </select>
                </div>

                <div class="main__form-wrap">
                    <label class="main__form-wrap-label" for="price">Price</label>
                    <input class="main__form-wrap-input" type="number" id="price" placeholder="Price" step="0.01"
                        required />
                </div>

                <button class="main__form-submit" type="submit">Add Product</button>
            </form>
        </div>
        <div class="main__sortingButtons-container">
            <button class="main__sortBy-button" id="sortByName">sort by Name</button>
            <button class="main__sortBy-button" id="sortByPrice">sort by Price</button>
            <form id="filterForm">
                <select id="category" name="category">
                    <option value="">All Categories</option>
                    <option value="Hard Cheese">Hard Cheese</option>
                    <option value="Soft Cheese">Soft Cheese</option>
                    <option value="Semi-Hard Cheese">Semi-Hard Cheese</option>
                    <option value="Fresh Cheese">Fresh Cheese</option>
                    <option value="Blue Cheese">Blue Cheese</option>
                    <option value="Semi-Soft Cheese">Semi-Soft Cheese</option>
                </select>
            </form>
        </div>
        <span class="main__products-title">Products:</span>
        <ul id="products"></ul>
        <div id="pagination" class="pagination-container"></div>
        <div class="main__search">
            <input class="main__searchId-input" type="text" id="productId" placeholder="Enter Product ID" />
            <button class="main__searchId-button" onclick="searchProduct()">Search</button>
        </div>

        <div id="result" class="main__searchId-result"></div>
    </main>

    <script src="../static/script.js"></script>
    <script src="../static/email.js"></script>
</body>

</html>