<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheese Market</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/user.css">
</head>

<body>
<header class="header">
    <h1 class="header__title">Cheese Market</h1>
    <form action="/logout" method="POST">
        <button class="logOut-button" type="submit">Log Out</button>
    </form>

</header>

<main class="main">
    <div>
        <h2>Cart</h2>
        <ul id="cart"></ul>
        <button onclick="checkout()">Order</button>
    </div>


    <div class="main__sortingButtons-container">
        <button class="main__sortBy-button" id="sortByName">sort by Name</button>
        <button class="main__sortBy-button" id="sortByPrice">sort by Price</button>
        <form id="filterForm">
            <select class="main__category-button" id="category" name="category">
                <option value="">All Categories</option>
                <option value="Hard Cheese">Hard Cheese</option>
                <option value="Soft Cheese">Soft Cheese</option>
                <option value="Semi-Hard Cheese">Semi-Hard Cheese</option>
                <option value="Fresh Cheese">Fresh Cheese</option>
                <option value="Blue Cheese">Blue Cheese</option>
                <option value="Semi-Soft Cheese">Semi-Soft Cheese</option>
            </select>
        </form>
    </div>
    <span class="main__products-title">Products:</span>
    <ul id="products"></ul>
    <div id="pagination" class="pagination-container"></div>
    <div class="main__search">
        <input class="main__searchId-input" type="text" id="productId" placeholder="Enter Product ID" />
        <button class="main__searchId-button" onclick="searchProduct()">Search</button>
    </div>

    <div id="result" class="main__searchId-result"></div>
    <button>hhhgh</button>
</main>

<script src="../static/script.js"></script>
</body>

</html>